
<h1>{{{first}}} {{{last}}}</h1>
<h3>USERNAME: {{{username}}}</h3>
<h3>EMAIL: {{{email}}}</h3>
<h3>GENDER: {{{gender}}}</h3>
<h3>MEASUREMENT SYSTEM: {{{system}}}</h3>
<h3>HOME STATE: {{{state}}}</h3>
<h3>AGE: {{{age}}}</h3>
<h3>{{{socialPlatform}}} HANDLE: {{{socialHandle}}}</h3>
<button>EDIT</button>