<div class="flex_container">
    <h1>{{{first}}} {{{last}}}</h1>
    <h3>EMAIL: {{{email}}}</h3>
    <h3>GENDER: {{{gender}}}</h3>
    <h3>MEASUREMENT SYSTEM: {{{system}}}</h3>
    <h3>HOME STATE: {{{state}}}</h3>
    <h3>AGE: {{{age}}}</h3>
    <h3>{{{socialPlatform}}} HANDLE: {{{socialHandle}}}</h3>
    <h3>REGISTERED RACES:</h3>
    <ul>
        {{#each registeredRaces}}
             <a href="/race/{{this.id}}" class="race-link"><p>{{this.name}}</p></a>
        {{/each}}
    </ul>
    <button>EDIT</button>

    <h4>REVIEWS:</h4>
    {{#each reviews}}
        <p>
            <a href="/profile/{{this.username}}" class="profile-link">{{this.username}}</a>: {{this.comment}}
            {{#eq this.username ../user.username}}
                <form action="/removeReview/{{this.raceId}}" method="POST" class="delete-review-form">
                    <input type="hidden" id="review" name="review" value="{{this.comment}}">
                    <button type="submit">Delete</button>
                </form>
            {{/eq}}
        </p>
    {{/each}}
</div>