
<h2>{{{name}}}</h2>
<h4>STATE: {{{state}}}</h4>
<h4>CITY: {{{city}}}</h4>
<h4>DATE: {{{date}}}</h4>
<h4>TIME: {{{time}}}</h4>
<h4>DISTANCE: {{{distance}}}</h4>
<h4>TERRAIN: {{{terrain}}}</h4>
<h5>VISIT {{{URL}}} FOR REGISTRATION AND MORE INFO!</h5>

{{!-- Review sections --}}
<form action="/???" method="POST" class="reviewRace">
    <label for="review">REVIEW THIS RACE:</label><br>
    <input type="text" id="review" name="review"><br>
    <label for="rating">RATING:</label><br>
    <input type="range" id="rating" class="rating" max="5" min="1"><br>
    <button type="submit">POST</button>
</form>


{{!-- Registrants list --}}
{{!-- Style with CSS to make it trail off (show more?) --}}

{{#if registered}}
    <form action="/unregister/{{raceId}}" method="POST" class="unregister">
        <button type="submit">Unregister</button>
    </form>
{{else}}
    <form action="/register/{{raceId}}" method="POST" class="register">
        <button type="submit">Register</button>
    </form>
{{/if}}

<h4>REGISTRANTS:</h4>
<div class="horizontal-list">
    {{#each registrants}}
        <a href="/profile/{{this}}" class="profile-link"><p>{{this}}</p></a>
    {{/each}}
</div>

{{!-- Comments section -- for users to interact, should use @ ? --}}
<form action="/comment/{{raceId}}" method="POST" class="raceComment">
    <label for="comment">LEAVE A COMMENT:</label><br>
    <input type="text" id="comment" name="comment"><br>
    <button type="submit">POST</button>
</form>

<h4>COMMENTS:</h4>
{{#each comments}}
    <p>
        <a href="/profile/{{this.username}}" class="profile-link">{{this.username}}</a>: {{this.comment}}
        {{#if (eq this.username currentUser.username)}}
            <a href="/uncomment/{{raceId}}">Delete</a>
        {{/if}}
    </p>
{{/each}}

