<h2>{{{name}}}</h2>
<h4>STATE: {{{state}}}</h4>
<h4>CITY: {{{city}}}</h4>
<h4>DATE: {{{date}}}</h4>
<h4>TIME: {{{time}}}</h4>
<h4>DISTANCE: {{{distance}}}</h4>
<h4>TERRAIN: {{{terrain}}}</h4>
<h5><a href={{{URL}}} target="_blank">VISIT FOR REGISTRATION AND MORE INFO!</a></h5>

{{#if owner}}
<form action="/race/edit/{{raceId}}" method="GET" class="editRace">
    <button type="submit">EDIT</button>
</form>
<form action="/race/delete/{{raceId}}" method="POST" class="editRace">
    <button type="submit">DELETE</button>
</form> <br><br>
{{/if}}


{{!-- Registrants list --}}
{{!-- Style with CSS to make it trail off (show more?) --}}

{{#if registered}}
<form action="/unregister/{{raceId}}" method="POST" class="unregister">
    <button type="submit">Unregister</button>
</form>
{{else}}
<form action="/register/{{raceId}}" method="POST" class="register">
    <label for="maxMileageYet">What is the maximum amount of miles you ran in the past week, this will be the basis for your training plan:</label><br>
    <input type="text" id="maxMileageYet" name="maxMileageYet"><br>
    <button type="submit">Register</button>
</form>
{{/if}}

<h4>REGISTRANTS:</h4>
<div class="horizontal-list">
    {{#each registrants}}
    <a href="/profile/{{this}}" class="profile-link">
        <p class="registrant">{{this}}</p>
    </a>
    {{/each}}
</div>

{{!-- Review sections --}}
<form action="/review/{{raceId}}" method="POST" class="reviewRace">
    <label for="review" class="review-label">REVIEW THIS RACE:</label><br>
    <textarea id="review" name="review" wrap="soft" placeholder="Type here..."></textarea><br>
    <label for="rating" class="review-label">RATING:</label><br>
    <input name="rating" type="range" id="rating" class="rating" max="5" min="1" value="3"
        oninput="rangeValue.innerText = this.value"><br>
    <p id="rangeValue" class="rangeVal">3</p>
    <button type="submit">POST</button>
</form>

<h4>REVIEWS:</h4>
{{#each reviews}}
<p class="appears">
    Profile: <a href="/profile/{{this.username}}" class="profile-link">{{this.username}}</a> Rating: {{this.rating}}
    Comment: {{this.comment}}
    {{#eq this.username ../user.username}}
</p>
<form action="/removeReview/{{../raceId}}" method="POST" class="delete-review-form">
    <input type="hidden" name="review" value="{{this.comment}}">
    <input type="hidden" name="rating" value="{{this.rating}}">
    <button type="submit">Delete</button>
</form>
{{/eq}}

{{/each}}


{{!-- Comments section -- for users to interact, should use @ ? --}}
<form action="/comment/{{raceId}}" method="POST" class="raceComment">
    <label for="comment">LEAVE A COMMENT:</label><br>
    <textarea id="comment" name="comment" wrap="soft" placeholder="Type here..."></textarea><br>
    <button type="submit">POST</button>
</form>

<h4>COMMENTS:</h4>
{{#each comments}}
<p class="appears">
    <a href="/profile/{{this.username}}" class="profile-link">{{this.username}}</a>: {{this.comment}}
    {{#eq this.username ../user.username}}
</p>
<form action="/uncomment/{{../raceId}}" method="POST" class="delete-comment-form">
    <input type="hidden" name="comment" value="{{this.comment}}">
    <button type="submit">Delete</button>
</form>
{{/eq}}

{{/each}}