<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="{{otherCSS}}">
</head>


<body>
    <nav id="navbar">
        <ul class="navbar-items flexbox-col">
            <li class="navbar-logo ">
                <a class=" flexbox-left" href="/">
                    <span class="logo-text">RACE DAY READY</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/">

                    <span class="link-text">HOME</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/training">

                    <span class="link-text">TRAINING</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/countdown">

                    <span class="link-text">COUNTDOWN</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/profile/{{ user.username }}">

                    <span class="link-text">PROFILE</span>
                </a>
            </li>
            {{#if user}}
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/logout">

                    <span class="link-text">LOG OUT</span>
                </a>
            </li>
            {{else}}
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/login">

                    <span class="link-text">LOG IN</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/createProfile">

                    <span class="link-text">REGISTER</span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>

    {{{body}}}
</body>


</html>