<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    {{!-- how to get different stylesheets for diff pages --}}
    <link rel="stylesheet" href={{{otherCss}}} />
    <link rel="stylesheet" href="./layouts/main.css" />
</head>


<body>
    <nav id="navbar">
        <ul class="navbar-items flexbox-col">
            <li class="navbar-logo ">
                <a class=" flexbox-left" href="../homepage/home.handlebars">
                    <span class="logo-text">RACE DAY READY</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/homepage/home">

                    <span class="link-text">SEARCH</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/trainingDash/training">

                    <span class="link-text">TRAINING</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/countdown">

                    <span class="link-text">COUNTDOWN</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/profile/login">

                    <span class="link-text">PROFILE</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/settings/settings">

                    <span class="link-text">SETTINGS</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/createProfile/createProfile">

                    <span class="link-text">LOG IN</span>
                </a>
            </li>
        </ul>
    </nav>

    {{!-- injected from other handlebars files --}}
    {{{body}}}
</body>


=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    {{!-- how to get different stylesheets for diff pages --}}
    <link rel="stylesheet" href={{{otherCss}}} />
    <link rel="stylesheet" href="./layouts/main.css" />
</head>


<body>
    <nav id="navbar">
        <ul class="navbar-items flexbox-col">
            <li class="navbar-logo ">
                <a class=" flexbox-left" href="/">
                    <span class="logo-text">RACE DAY READY</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="../homepage/home.handlebars">

                    <span class="link-text">SEARCH</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="../trainingDash/training.handlebars">

                    <span class="link-text">TRAINING</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/countdown">

                    <span class="link-text">COUNTDOWN</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/profile">

                    <span class="link-text">PROFILE</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="../settings/settings.handlebars">

                    <span class="link-text">SETTINGS</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/profile/login">

                    <span class="link-text">LOG IN</span>
                </a>
            </li>
        </ul>
    </nav>

    {{!-- injected from other handlebars files --}}
    {{{body}}}
</body>


>>>>>>> dac752c (countdown works now)
</html>